body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: white;
  color: #353435;
  padding: 16px;
  margin: 0;
  line-height: 1.5;
}
@media (min-width: 960px) {
  body {
    padding: 32px;
  }
}

a {
  color: #da3567;
  text-decoration: none;
}

h1 {
  color: #605850;
  margin: 0;
  font-size: 1.25rem;
  background: #aaa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px;
  padding-bottom: 0;
  background: white;
  height: 64px;
  z-index: 100;
  box-sizing: border-box;
}
@media (min-width: 960px) {
  h1 {
    padding-left: 32px;
    padding-top: 32px;
    right: 420px;
  }
}
h1 img {
  vertical-align: middle;
  margin-right: 10px;
}
h1 a {
  color: inherit;
}

main {
  max-width: 720px;
  margin: 0 auto;
}
@media (min-width: 960px) {
  main {
    margin-left: 0;
    margin-right: 420px;
  }
}

#about {
  margin-left: 42px;
  margin-top: 48px;
  max-width: 598px;
}
.dim {
  color: #888583;
}
.dim a {
  color: inherit;
  opacity: 0.8;
}
.dim a::before {
  content: "[";
  opacity: 0.5;
}
.dim a::after {
  content: "]";
  opacity: 0.5;
}

#ring {
  padding-left: 36px;
}
#ring li {
  padding-left: 6px;
  margin: 0 0 8px;
}
#ring a {
  margin: -3px;
  padding: 3px;
  background: #fff;
  border-radius: 3px;
  transition: 0.5s all;
}
#ring li[data-current] a {
  box-shadow: 0 0 7px #da356777;
}
#ring li[data-current] a,
#ring li:target a {
  background: #da3567;
  color: #fff;
}

@media (min-width: 960px) {
  #ring {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  #ring {
    column-count: 3;
  }
}

/* 
#ring {
  display: flex;
  padding-left: 0;
  flex-wrap: wrap;
  color: #888583;
}
#ring li {
  margin-left: 36px;
  margin-bottom: 0;
}
*/

footer {
  border-top: 1px solid #f5f4f3;
  margin-left: 42px;
  margin-bottom: 2em;
  font-size: 0.9rem;
}
